<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Car Result</h1>
      <ul>
          <li>@Model.GetMakeModel()</li>
          <li>@Model.GetColor()</li>
          <li>@Model.GetMiles()</li>
          <li>@Model.GetPrice()</li>
          <li>@Model.GetId()</li>
      </ul>
  </body>
</html>
